@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --main-color: #443;
    --border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
    --border-radius-hover: 4% 95% 6% 95%/95% 4% 92% 5%;
    --border: 3px solid var(--main-color);
    --border-hover: 3px dashed var(--main-color);

}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    font-size: 63%;
    overflow-x: hidden;
    scroll-padding-top: 112;
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(white, #EA8F65);
    font-size: 20px;
}

body p {
    margin: 50px;


}

.btn {
    display: inline-block;
    padding: 14px 24px;
    border-radius: var(--border-radius);
    color: var(--main-color);
    background: none;
    border: var(--border);
    cursor: pointer;
    margin-top: 16px;
    font-size: 27px;

}

.btn:hover {
    border-radius: var(--border-radius-hover);
    border: var(--border-hover);
    background-color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .1);
    padding: 32px 9%;
    padding: 32px;
}

.header .logo {
    color: var(--main-color);
    font-size: 37px;
}

.header .nav-bar a {
    margin: 0 16px;
    font-size: 27px;
    color: var(--main-color);
}

.section {
    padding: 32px 9%;
}

.home {
    min-height: 100vh;
    padding-top: 192px;
    background: url(/images/pexels-artem-podrez-7232830.jpg);
    background-position: center;
    background-size: cover;
}

.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 14px;
    margin: 20px 100px 0px 50px;
}

.home .row .content {
    flex: 16px 16px 672px;

}

.home .row .image img {
    height: 560px;

}

.home .row .content h3 {
    font-size: 90px;
    color: var(--main-color);
    text-transform: uppercase;
}

.reviews {
    border-style: solid;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin: 50px;
    box-shadow: 0px 0px 5px 10px white;
}



.about {
    margin: 50px;
}


/* media queries */
@media (max-width:900px) {
    .reviews {
        flex-direction: column;
        align-items: center;
    }
}